.add-time {
  background-image: url('../images/darkTiles.png');
  background-repeat: repeat;

  height: 1500px;
  position: relative;
}

.add-time-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-time-form {
  background-color: white;


  margin-top: 80px;
  width: 1000px;
  height: 550px;
  border-radius: 40px;
  box-shadow: 6px 6px 10px black;

}

.add-time-form-top {
  display: flex;
  position: relative;
  margin: 80px auto;
  width: 90%;
}

.add-time-form-top-left {
  width: 50%;
}

.add-time-form-top-right {
  width: 50%;
}

#add-time-track {
  width: 90% !important;
}

#add-time-character {
  width: 90% !important;
}

.add-time-form-bottom {
  display: flex;
  margin: auto;
  width: 90%;
}

.time-input {
  border: 0 !important;
  border-bottom: 2px solid black !important;
  border-radius: 0 !important;

  height: 200px !important;

  font-size: 10rem !important;
  text-align: center;
}

#time-input-minutes {
  width: 120px !important;
}

#time-input-seconds {
  width: 182px !important;
  margin-top: 38px;
}

#time-input-milliseconds {
  width: 270px !important;
  margin-top: 38px;
}

#time-colon {
  font-size: 10rem;

  margin-top: 30px;
}

#time-period {
  font-size: 10rem;

  margin-top: 60px;
}

#add-time-button {
  background-color: #E60012;

  margin-top: 100px;
  margin-left: 40px;
  width: 180px;
  height: 140px;
  border-radius: 20px;
  border: none;

  text-align: center;
  font: 'Roboto';
  font-weight: bold;
  font-style: italic;
  font-size: 3rem;
  color: white;

  cursor: pointer;
}

label {
  display: block;

  text-align: left;
  color: #E60012;
  font: 'Roboto';
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

input[type = text] {
  display: block;
  width: 80%;
  height: 60px;
  border: 2px solid black;
  border-radius: 3em;
  padding-left: 20px;

  font: 'Roboto';
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

input[type = password] {
  display: block;
  width: 80%;
  height: 60px;
  border: 2px solid black;
  border-radius: 3em;
  padding-left: 20px;

  font: 'Roboto';
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}
