.history {
  background-image: url('../images/darkTiles.png');
  background-repeat: repeat;

  height: 1800px;
  position: relative;
}

.history-container {
  display: flex;
  justify-content: center;
}

.history-list {
  background-color: white;

  width: 1000px;
  height: 720px;
  border-radius: 40px;
  box-shadow: 6px 6px 10px black;

  overflow: scroll;
}

.history-list::-webkit-scrollbar {
  display: none;
}

.history-time-tile {
  background-color: rgba(240, 248, 255, 0.719);

  width: 95%;
  margin: 10px auto;
  border-radius: 20px;
}

.red-history-time-tile {
  background-color: rgba(253, 215, 215, 0.719);

  width: 95%;
  margin: 10px auto;
  border-radius: 20px;
}

.time-tile-top, .time-tile-bottom {
  display: flex;
  width: 100%;
  justify-content: center;
}

p {
  margin: 10px 30px;

  font: 'Roboto';
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}