.navbar {
  background-color: #E60012;
  box-shadow: 0px 5px 10px rgb(97, 97, 97);

  position: sticky;
  top: 0px;

  height: 110px;
  width: 100%;
  display: flex;
  z-index: 100;
}

.clock-container {
  margin: 10px 30px;
}

#clock-img {
  width: 70px;
  transform: rotate(-28deg);
}

.nav-menu {
  color: white;
  font: 'Roboto';
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  list-style: none;
}

.nav-item {
  display: inline;
  margin-right: 100px;
}

a {
  cursor: pointer;
}