.records {
  background-image: url('../images/lightTiles.png');
  background-repeat: repeat;

  height: 1400px;
  position: relative;
}

.points {
  background-image: url('../images/darkTiles.png');
  background-repeat: repeat;

  height: 1400px;
  position: relative;
}

.banner-down {
  position: absolute;
  left: 0px;
  top: -235px;
  width: 100%;
  object-fit: cover;
}

.banner-up {
  position: absolute;
  left: 0px;
  top: -235px;
  width: 100%;
  object-fit: cover;
}

.banner-pic-down {
  position: absolute;
  left: 20px;
  top: -140px;
  width: 800px;
  z-index: 10;
}

.banner-pic-up {
  position: absolute;
  right: 20px;
  top: -200px;
  width: 800px;
  z-index: 10;
}

.section-header {
  background: -webkit-linear-gradient(white, #b4b4b4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Mario Kart F2";
  font-size: 4rem;
  -webkit-text-stroke: 4px black;

  padding-top: 420px;
}

.podium-container {
  display: flex;
  justify-content: center;
}

.podium {
  background-color: #E60012;
  box-shadow: 6px 6px 10px black;

  position: relative;
  width: 275px;
  height: 420px;
  margin: 59px;

  border-radius: 40px;
  text-align: center;
}

.podium-icon {
  position: absolute;
  top: -40px;
  left: -20px;
  z-index: 11;
}

.podium-name {
  font-family: 'Mario Kart F2';

  position: relative;
  z-index: 12;
  margin-top: 50px;
}

.stat {
  color: white;
  font: "Roboto";
  font-weight: bold;
  font-style: italic;
  font-size: 5rem;

  margin-top: 20px;
  margin-bottom: 30px;
}

.stat-type {
  color: white;
  font: "Roboto";
  font-weight: bold;
  font-style: italic;
  font-size: 4rem;

  margin-bottom: 30px;
}

.place-icon {
  width: 220px;
}