.tracks {
  background-image: url('../images/lightTiles.png');
  background-repeat: repeat;

  height: 3800px;
  position: relative;
}

.banner-down {
  position: absolute;
  left: 0px;
  top: -235px;
  width: 100%;
  object-fit: cover;
}

.banner-pic-down {
  position: absolute;
  left: -80px;
  top: -300px;
  width: 635px;
  z-index: 10;
}

.section-header {
  background: -webkit-linear-gradient(white, #b4b4b4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Mario Kart";
  font-size: 4rem;
  -webkit-text-stroke: 4px black;

  padding-top: 420px;
}

.button-box {
  background-color: white;
  position: relative;
  margin: 20px auto;
  width: 300px;
  box-shadow: 0 0 20px 10px #2e2e2e1f;
  border-radius: 30px;
}

button {
  border: none;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

#btn {
  background-color: #E60012;
  position: absolute;
  top: 0;
  left: 0;

  width: 50%;
  height: 100%;
  border-radius: 30px;
  transition: .5s;
}

.toggle-btn {
  position: relative;
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;

  font: 'Roboto';
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

#toggle-base {
  left: -12px;
  color: white;
}

#toggle-dlc {
  color: black;
}

.base-tracks-container {
  position: absolute;
  left: 0px;
  margin: 40px 10%;

  transition: .5s;
}

.dlc-tracks-container {
  position: absolute;
  margin: 40px 10%;
  left: -3000px;

  transition: .5s;
}

.cup {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cup-pic { 
  width: 183px;
}

.cup-name {
  font: "Roboto";
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
  margin-top: -2px;
}

.track-container {
  flex: 1;
}

.track-pic {
  width: 300px;
  cursor: pointer;
}

.time-tile-icon {
  width: 5%;
  position: absolute;
}

.track-summary-page {
  background-image: url('../images/lightTiles.png');
  background-repeat: repeat;

  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 100px;
}

.back-icon {
  position: absolute;
  left: 100px;
  top: 100px;

  border: none;
  background-color: transparent;
  cursor: pointer;

  font-size: 2rem;
}

.track-name-header {
  margin-top: -800px;

  font: 'Roboto';
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
}

.track-summary {
  background-color: white;

  position: absolute;
  width: 720px;
  height: 720px;
  z-index: 20;

  border-radius: 40px;
  box-shadow: 6px 6px 10px black;
}

.track-mimimap-img {
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 100%;
  z-index: -1;
}

.time-tile {
  background-color: rgba(240, 248, 255, 0.719);

  display: flex;
  width: 95%;
  margin: 10px auto;
  border-radius: 20px;
}

.time-tile > p {
  margin: 10px 30px;

  font: 'Roboto';
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}